.container {
    font-family: Arial, sans-serif;
    padding: 20px;
}
.popularCategory {
    margin-bottom: 20px;
}

.circleContainer {
    /* display: flex;
    justify-content: space-around; */
    display: flex;               /* フレックスボックスで横並びにする */
    overflow-x: auto;            /* 横スクロールを有効にする */
    white-space: nowrap;         /* 折り返さないようにする */
    gap: 20px;                   /* 要素間の余白 */
    padding: 10px; 
}

.circle {
    width: 200px;
    height: 150px;
    border-radius: 50%;
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products {
    margin-bottom: 20px,
}

.productGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.productBox {
    width: 400px;
    height: 300px;
    background-color: #d3d3d3;
}

.box{
    /* display: flex;          
  flex-direction: column;  
  align-items: center; 
  text-align: center; */
  flex: 0 0 auto;              /* 各要素のサイズを固定し、縮小を防ぐ */
  text-align: center; 
}

.box img{
    display: block;
    margin: 0 auto;    
}

